<div *ngIf="note">

  <h2>{{note.name | uppercase}} Details</h2>

  <div>
    <label for="note-name">Name:</label>
    <input id="note-name" [(ngModel)]="note.name" placeholder="name">
  </div><br>
  <div>
    <label for="note-description">Description:</label>
    <input id="note-description" [(ngModel)]="note.description" placeholder="name">
  </div><br>
  <div>
    <label for="note-comments">Comments:</label>
    <input id="note-comments" [(ngModel)]="note.comments" placeholder="name">
  </div><br>

  <div *ngIf="note.done; else elseBlock">
    <label for="checkbox{{note.id}}">
      <input type="checkbox" id="checkbox{{note.id}}" checked (change)="changeStatus()"> Done
    </label>
  </div>
  <ng-template #elseBlock>
    <label for="checkbox{{note.id}}a">
      <input type="checkbox" id="checkbox{{note.id}}a"  (change)="changeStatus()"> Done
    </label>
  </ng-template>

  <br>
  <span class="badge"> {{note.created}}</span><br>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="this.displayedDate"
             (dateChange)="prepareSelectedDate($event)">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button type="button" (click)="clearDueDate()">Clear current due Date</button>

  <span class="badge"> {{note.finished}}</span><br>


  <button mat-stroked-button type="button" (click)="delete()">delete</button>
  <button mat-stroked-button type="button" (click)="update()">save</button>
  <button mat-stroked-button type="button" (click)="goBack()">go back</button>
</div>
