<div *ngIf="note">

  <h2>{{note.name | uppercase}} Details</h2>

  <div>
    <mat-form-field class="sizeable" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="note.name"/>
    </mat-form-field>
  </div>


  <div class="tuggedIn">
    <mat-checkbox id="checkbox{{note.id}}" [checked]="note.done" (change)="changeNoteStatus()">
      Done
    </mat-checkbox>
    <br>
    <br>
    <mat-form-field  appearance="fill">
      <mat-label>Note was created on</mat-label>
      <input matInput disabled [(ngModel)]="note.created"/>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Choose Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="this.displayedDate"
             (dateChange)="prepareSelectedDate($event)">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button type="button" class="clearButton" (click)="clearDueDate()">Clear current due Date</button>
    <br>
    <br>

    <mat-form-field  appearance="fill">
      <mat-label>Note was finished on</mat-label>
      <input matInput disabled [(ngModel)]="note.finished"/>
    </mat-form-field>
    <br>
  </div>

  <div>
    <mat-form-field class="textareaSize" appearance="fill">
      <mat-label>Note Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                [(ngModel)]="note.description"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>

    <mat-form-field class="textareaSize" appearance="fill">
      <mat-label>Comments</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                [(ngModel)]="note.comments"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>

  </div>
  <br>


  <button mat-stroked-button type="button" (click)="openDialog('200ms', '200ms')">Delete Note</button>
  <button mat-stroked-button type="button" (click)="update()">Save and Update</button>
  <button mat-stroked-button type="button" (click)="goBack()">Go Back</button>
</div>
