<h2> My ToDo List </h2>

<nav>
  <a mat-fab extended color="primary" routerLink="/notes/pending">Pending Notes</a>
  <a mat-fab extended color="primary" routerLink="/notes/finished">Finished Notes</a>
</nav>
<br>
<br>
<button type="button" mat-flat-button (click)="getCreatedSortedNotes()">Sorted by Created</button>
<button type="button" mat-flat-button (click)="getDueDateSortedNotes()">Sorted by due Date</button>
<button type="button" mat-flat-button (click)="getFinishedSortedNotes()">Sorted by Finished</button>


<app-notes-table
  [notes]="notes"
  (toggleDone)="changeStatus($event)"
  (deleteClicked)="delete($event)">
</app-notes-table>
