<h2>Top 5 Notes</h2>

<!--
<button mat-flat-button type="button" (click)="getCreatedSortedNotes()">Sorted by Created</button>
<button mat-flat-button type="button" (click)="getDueDateSortedNotes()">Sorted by due Date</button>
-->
<button mat-flat-button type="button" (click)="switchFilter()">Show only unfinished Notes</button>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tableData" matSort (matSortChange)="annonceSortChange($event)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name</th>
      <td mat-cell *matCellDef="let note" routerLink="/notes/info/{{note.id}}">
        <p routerLink="/notes/info/{{note.id}}">
          <span class="badge"> {{note.name}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description</th>
      <td mat-cell *matCellDef="let note" routerLink="/notes/info/{{note.id}}">
        <p routerLink="/notes/info/{{note.id}}">
          <span class="badge"> {{note.description}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created"> Created On</th>
      <td mat-cell *matCellDef="let note" routerLink="/notes/info/{{note.id}}">
        <p  routerLink="/notes/info/{{note.id}}">
          <span class="badge"> {{note.created}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dueDate"> Due Date</th>
      <td mat-cell *matCellDef="let note" routerLink="/notes/info/{{note.id}}">
        <p routerLink="/notes/info/{{note.id}}">
          <span class="badge"> {{note.dueDate}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="finished">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by finished"> Finished On</th>
      <td mat-cell *matCellDef="let note" routerLink="/notes/info/{{note.id}}">
        <p routerLink="/notes/info/{{note.id}}">
          <span class="badge"> {{note.finished}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="done">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by done"> Done</th>
      <td mat-cell *matCellDef="let note">
        <mat-checkbox id="checkbox{{note.id}}" [checked]="note.done" disabled>
          Done
        </mat-checkbox>

      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
